<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wormchaos.dao.persistence.ClothMapper">
    <resultMap id="clothMap" type="com.wormchaos.dao.entity.Cloth">
        <result column="id" javaType="Integer" property="id"></result>
        <result column="type" javaType="Integer" property="type"></result>
        <result column="num" javaType="Integer" property="num"></result>
        <result column="name" javaType="String" property="name"></result>
        <result column="level" javaType="Integer" property="level"></result>
        <result column="brief" javaType="Integer" property="brief"></result>
        <result column="elegance" javaType="Integer" property="elegance"></result>
        <result column="lovely" javaType="Integer" property="lovely"></result>
        <result column="pure" javaType="Integer" property="pure"></result>
        <result column="cool" javaType="Integer" property="cool"></result>
        <result column="label1" javaType="String" property="label1"></result>
        <result column="label2" javaType="String" property="label2"></result>
        <result column="label3" javaType="String" property="label3"></result>
        <result column="cloth_from" javaType="String" property="cloth_from"></result>
    </resultMap>
    <resultMap id="compMap" type="com.wormchaos.dao.entity.CompBean">
        <result column="num" javaType="Integer" property="num"></result>
        <result column="level" javaType="Integer" property="level"></result>
        <result column="good1" javaType="Integer" property="good1"></result>
        <result column="bad1" javaType="Integer" property="bad1"></result>
        <result column="good2" javaType="Integer" property="good2"></result>
        <result column="bad2" javaType="Integer" property="bad2"></result>
        <result column="type" javaType="Integer" property="type"></result>
    </resultMap>

    <parameterMap  id="clothInsertMap" type="com.wormchaos.dao.entity.Cloth">
        <parameter property="id" />
        <parameter property="type" />
        <parameter property="num" />
        <parameter property="name" />
        <parameter property="level" />
        <parameter property="brief" />
        <parameter property="elegance" />
        <parameter property="lovely" />
        <parameter property="pure" />
        <parameter property="cool" />
        <parameter property="label1" />
        <parameter property="label2" />
        <parameter property="label3" />
        <parameter property="cloth_from" />
    </parameterMap>

    <select id="findCloths" resultMap="clothMap">
        <![CDATA[
            SELECT id,type,num,name,level,brief,elegance,lovely,pure,cool,label1,label2,label3,cloth_from
             FROM cloth WHERE type = #{type} ORDER BY type , no LIMIT #{pageStart}, #{pageSize}
        ]]>
    </select>

    <insert id="createCloth" parameterMap="clothInsertMap">
        <![CDATA[
              INSERT INTO cloth
              (type,num,name,level,brief,elegance,lovely,pure,cool,label1,label2,label3,cloth_from)
              VALUES
              (#{type},#{num},#{name},#{level},#{brief},#{elegance},#{lovely},#{pure},#{cool},#{label1},#{label2},#{label3},#{cloth_from})
        ]]>
    </insert>
    <!--
    <select id="findItem" resultMap="itemMap">
        <![CDATA[
            SELECT id,num,name,level,huali,jianyue,youya,huopo,chengshu,keai,xinggan,qingchun,qingliang,baonuan,label1,label2,label3,getfrom,type
             FROM items WHERE type = #{type} AND num = #{num}
        ]]>
    </select>

    <select id="findNeedItems" resultMap="compMap">
        <![CDATA[
            SELECT
            num,
            level,
                ${param1} as good1,
                ${param2} as good2,
            type
             FROM items WHERE type = #{type}
        ]]>
    </select>

    -->
</mapper>